*{
    margin: 0px;
    padding: 0px;
}


body, html {
    width: 100vw;
    scroll-behavior: smooth;
}

#contact-content{
    height: 100vh;
    background: rgb(40, 40, 40);

}

.contact-grid-box{
    height: 100%;
    display: grid;
    grid-template-columns: 5% 22% 8% 12% 6% 12% 8% 22% 5%;
    grid-template-rows: 8% 9% repeat(7, 10%) 9% 4%;
}

.email-box, .phone-box, .github-box a, .facebook-box a{
    background-color:rgb(55, 55, 55);;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}


.email-box{
    grid-column:3/5;
    grid-row:3/6;
}


.phone-box{
    grid-column:6/8;
    grid-row:3/6;
}

.github-box{
    grid-column:3/5;
    grid-row:7/10;
}
.github-box a{
    width: 100%;
    height: 100%;
}

.facebook-box{
    grid-column:6/8;
    grid-row:7/10;
}

.facebook-box a{
    width: 100%;
    height: 100%;
}

.box-icon{
    height: 40%;
    color:#F2DCC2;
}

.box-text-upper{
    height:10%;
    font-size: 1vw;
    padding-bottom: 5%;
    color:#F2DCC2;
}

.box-text-lower{
    height: 20%;
    font-size: 1.25vw;
    color:#F2DCC2;
}

@media only screen and (max-width: 600px) {
    .contact-grid-box{
        grid-template-columns: 5% 10% 20% 12% 6% 12% 20% 10% 5%;
        grid-template-rows: 8% 3% 19% 2% 19% 2% 19% 2% 19% 3% 4%;
    }
    .box-icon{
        transform: scale(0.6)
    }

    .box-text-upper{
        font-size: 1rem;
    }

    .box-text-lower{
        font-size: 1rem;
    }

    .email-box,
    .phone-box,
    .github-box,
    .facebook-box{
        grid-column: 3/8;
    }

    .email-box{
        grid-row: 3/4 ;
    }

    .phone-box{
        grid-row: 5/6 ;
    }

    .github-box{
        grid-row: 7/8 ;
    }
    .facebook-box{
        grid-row: 9/10 ;
    }

    .box-icon {
        height: 50%;
    }

    .footer{
        grid-row: 11/12 ;
        grid-column: 1/10;
    }
}