*{
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

#projects-content{
    background-color: rgb(55, 55, 55);
}

#project-box{
    height: 80%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}



#project-box-inner{
    height: 100%;
    width:50%;
    display:flex;
    flex-direction: column;
}

.background-projects{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background-projects img{
    
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out 0.5s;
    transform: scale(1.005);
    overflow:auto;
}

.background-projects img:hover{
    transform: scale(1.02);
}
.projects-text{
    height: 50%;
    padding:40px;
    position:relative;
    background-color: rgb(40, 40, 40)
}

.projects-text h1{
    color:#F2DCC2;
    padding-bottom:5%;
    font-size: 2vw;
}

.projects-text p{
   color:#F2DCC2;
    font-size: 1.5vw;
}

.info-links{
    color:#BF755A ;
    position: absolute;
    bottom:40px;
    left:20px;
    font-size: 1.25vw;
}
.info-links a:hover{
    color:#F2DCC2;
}

.info-links a{
    padding: 20px;
}

.fp-controlArrow.fp-prev {
    left: 10% !important;
    border-width: 38.5px 34px 38.5px 0 !important;
    border-color: transparent #BF755A transparent transparent !important;
}

.fp-controlArrow.fp-next {
    right: 10% !important;
    border-width: 38.5px 0 38.5px 34px !important;
    border-color: transparent transparent transparent #BF755A !important;


}

.fp-slidesNav.fp-bottom {
    display: flex;
    justify-content: center;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #BF755A !important; 
}